<h1 class="title is-1">Shortz ⚡️</h1>
<h2 class="subtitle colored is-4">URL shortening made easy!</h2>
<p>
  Quickly shorten urls to make them look amazing to end users!
  Shortener will keep track of analytics data for you, making sure you stay on top of each shortened url!
</p>
