<main class="container">
  <%= if error = get_flash(@conn, :error) do %>
    <p class="notification is-warning is-light">
      <%= error %>
    </p>
  <% end %>

  <div class="columns is-desktop">
    <div class="column is-12 two-columns-container">
      <%= @inner_content %>
    </div>
  </div>
</main>
